<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                Hello, {{ user.username }}
                <li><a href="{% url 'home' %}">My receipt</a></li>
                <li><a href="{% url 'create_receipt' %}">Add a new receipt</a></li>
                <li><a href="{% url 'create_account' %}">Create a new account</a></li>
                <li><a href="{% url 'create_category' %}">Create a new category</a></li>
                <li><a href="{% url 'account_list' %}">View accounts</a></li>
                <li><a href="{% url 'category_list' %}">View categories</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'signup' %}">Signup</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock content %}
</body>
</html>
